.emacs.desktop
tmp
auto-save-list
emacs-desktop
elpa
history
.emacs.desktop.lock
ac-comphist.dat
bookmarks
projectile*
tramp
.python-environments/
url
.DS_Store
.mc-lists.el
SessionDesktop.el
secrets.el

